@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; } 
fieldset,img{ border:none; }
ul, ol { list-style:none; } 
body {font-family:"微软雅黑","Arial"; font-size:12px;}
a {text-decoration:none; }

.content{
	width:1190px;
	margin: 0 auto;
}
.content:after,.content:before{
	content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden
}
.line{
	color: #ddd;
	margin: 0 5px;
}
